/*公用样式，为了排版用*/

body {
	background-color: #F5F5F5;
}

li {
	list-style: none;
}

.clearBox:after {
	content: '';
	display: block;
	clear: both;
}


/*第一个特效：小米商城hover阴影效果*/

.box {
	list-style: none;
	width: 316px;
	height: 170px;
	float: left;
	margin-left: 15px;
	-webkit-transition: -webkit-box-shadow .2s linear;
	transition: box-shadow .2s linear;
}

.box:hover {
	z-index: 2;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.box a {
	color: #757575;
	display: block;
	height: 170px;
	text-decoration: none;
}

.box img {
	width: 316px;
	height: 170px;
	border: 0px;
}


/*第二个特效：小米商城hover阴影效果*/

.box2 {
	height: 260px;
	padding: 20px 0;
	position: relative;
	z-index: 1;
	float: left;
	margin-top: 30px;
	width: 234px;
	margin-left: 20px;
	margin-bottom: 14px;
	background: #fff;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.box2:hover {
	z-index: 2;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
	transform: translate3d(0, -2px, 0);
}

.box2 div {
	width: 160px;
	height: 160px;
	margin: 0 auto 18px;
}

.box2 a {
	display: block;
	color: #757575;
	text-align: center;
	text-decoration: none;
}

.box2 img {
	width: 160px;
	height: 160px;
}

.box2 h3 {
	margin: 0 10px 20px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.box2 p {
	margin: 0 10px 10px;
	height: 18px;
	font-size: 12px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #b0b0b0;
}


/*第三个特效：伪类的使用*/

.box3 {
	width: 300px;
	height: 200px;
	background: url(../img/11.jpg) no-repeat;
	float: left;
	margin-right: 10px;
	background-size: cover;
}

.box3:after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
	z-index: -1;
	transition: all .5s ease-in;
}

.box3:hover:after {
	content: '阴影后显示';
	text-align: center;
	line-height: 200px;
	z-index: 100;
	opacity: 0.5;
	background-color: darkgray;
}

.box4 {
	width: 300px;
	height: 200px;
	float: left;
	background: url(../img/timg.jpg) no-repeat;
	background-size: cover;
}

.box4:after {
	content: '阴影前显示';
	text-align: center;
	line-height: 200px;
	display: block;
	width: 100%;
	height: 100%;
	background: darkgray;
	opacity: 0.5;
	z-index: 100;
	transition: all .5s ease-in;
}

.box4:hover:after {
	z-index: -1;
	opacity: 0;
}


/*第四个特效：熊猫旅游的花边效果*/

.box5 {
	width: 150px;
	height: 150px;
	margin: 20px 1% 10px 0px;
	float: left;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-size: cover;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.box5 i {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	border: 100px dashed rgba(0, 0, 0, 0.5);
}

.box5:hover i {
	border-width: 0px;
}

.box5 img {
	display: block;
	width: 100%;
	height: 150px;
}


/*第五个特效：熊猫旅游hover效果*/

.box6 {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
}

.box6 a {
	display: block;
}

.box6 a:hover img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

.box6 img {
	width:100%;
	height:200px;
	display: block;
	transition: all .5s;
}